@import 'variables';

$theme-colors: (
  'primary': #b803ff,
  'secondary': #636363,
  'info': #ffdd03,
);

@import '../node_modules/bootstrap/scss/bootstrap';

.image {
  max-width: 100%;
  max-height: 100%;
}
.image-contain {
  object-fit: contain;
  object-position: center;
}
.image-cover {
  object-fit: cover;
  object-position: right top;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #b803ff;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffdd03;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.schoolbell {
  font-family: 'Schoolbell', cursive;
}
.overlock {
  font-family: 'Overlock', cursive;
}
