<div
  *ngIf="imagesChunked"
  class="center"
  (mouseenter)="stopRoll()"
  (mouseleave)="startRoll()"
>
  <div
    *ngFor="let imageGroup of imagesChunked; let i = index"
    class="align-self-center image-page"
  >
    <div class="row justify-content-center align-items-center col-md-12 mx-0">
      <div
        *ngFor="let product of imageGroup"
        class=" col-6 col-sm-6 col-md-6 px-1 py-2 img-wrapper"
        [hidden]="i !== sliderControls.currentPage"
        [@thumbState]="i === sliderControls.currentPage ? 'active' : 'inactive'"
      >
        <img
          [src]="'./assets/img/products/' + product.img"
          [alt]="product.name"
          class="image image-contain"
        />
        <div class="d-flex bg-light justify-content-between py-2 px-2">
          <label class="alig-self-center mb-0">
            <strong>Name:</strong> {{ product.name }}</label
          >
          <label class="alig-self-center mb-0">
            <strong>Size:</strong> {{ product.size }}</label
          >
        </div>
      </div>
    </div>
  </div>
  <div id="arrow-left" class="arrow align-self-center">
    <button class="btn d-block float-left" (click)="goToPreviousPage()">
      <fa-icon
        icon="arrow-circle-left"
        class="px-1 d-block float-left"
        size="3x"
      ></fa-icon>
    </button>
    <button class="btn d-block float-right" (click)="goToNextPage()">
      <fa-icon
        icon="arrow-circle-right"
        class="px-1 d-block float-left"
        size="3x"
      ></fa-icon>
    </button>
  </div>
  <div class="dots">
    <input
      type="radio"
      class="d-none"
      name="slider"
      [attr.id]="'slider' + i"
      *ngFor="let imageGroup of imagesChunked; let i = index"
    />
    <label
      *ngFor="let imageGroup of imagesChunked; let i = index"
      for="{{ 'slider' + i }}"
      class="mx-1 shadow-lg"
      (click)="goToPage(i)"
      [ngClass]="{ 'checked-dot': i === sliderControls.currentPage }"
    ></label>
  </div>
</div>
