<footer class="footer page-footer bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row justify-content-center align-items-center my-3 py-2">
          <a href="https://www.fb.com" target="_blank">
            <fa-icon
              class="text-white mx-3 hover-shadow-box-animation"
              size="2x"
              [icon]="['fab', 'facebook']"
            ></fa-icon>
          </a>
          <a href="https://www.instagram.com" target="_blank">
            <fa-icon
              class="text-white mx-3 hover-shadow-box-animation"
              size="2x"
              [icon]="['fab', 'instagram']"
            ></fa-icon>
          </a>
          <a href="https://www.youtube.com" target="_blank">
            <fa-icon
              class="text-white mx-3 hover-shadow-box-animation"
              size="2x"
              [icon]="['fab', 'youtube']"
            ></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright " style="background-color: #535353">
    <div class="container text-center py-3">
      © {{ year }} Copyright:
      <span>Look After</span>
    </div>
  </div>
</footer>
